# ==================================================
# MYSQL
# ==================================================
MYSQL_ROOT_PASSWORD=cambia_esta_contraseña_root

MYSQL_DATABASE=autoreserve_app_bd

MYSQL_USER=autoreserve

MYSQL_PASSWORD=cambia_esta_contraseña

# ==================================================
# SPRING BOOT
# ==================================================
SPRING_PROFILES_ACTIVE=default

# ==================================================
# PUERTOS
# ==================================================
BACKEND_PORT=8080
FRONTEND_PORT=80
MYSQL_PORT=3306